.site-section.banner {
    background: rgb(203,208,209);
    background: linear-gradient(0deg, rgba(203,208,209,1) 0%, rgba(237,234,189,1) 94%);
    height: 500px;
    display: flex;
    align-items: center;
}

.site-section {
    padding: 2em;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}