.site-section.banner {
    height: 82vh;
    display: flex;
    align-items: center;
    background-color: #000015 ;
}

.site-section {
    padding: 2em;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}