<div class="edit-functionalities">
    <div class="likes">
        <div *ngIf="showPopup" class="popup">
            <ul>
                <li>Comment 1</li>
                <li>Comment 2</li>
                <li>Comment 3</li>
                <li>Comment 3</li>
                <li>Comment 3</li>
                <li>Comment 3</li>
                <li>Comment 3</li>
                <li>Comment 3</li>
                <li>Comment 3</li>
                <li>Comment 3</li>
                <li>Comment 3</li>
            </ul>
        </div>
        <button id="likes-btn" (click)="togglePopup()">Likes</button>
        <input type="number" id="likes" disabled [value]="totalLikes">
        <button type="button" class="submit-with-icon" *ngIf="isAuthenticated && !isOwner" (click)="onLikeClick()">
            <img src="../../../assets/thumbsup.png" alt="Like"></button>
    </div>
    <a [routerLink]="['/edit', carDetails?._id]" id="edit-link" *ngIf="isAuthenticated && isOwner">Edit</a>
    <a id="delete-link" *ngIf="isAuthenticated && isOwner" (click)="onDelete()">Delete</a>
</div>
