.card {
    border: 1px solid black;
    border-radius: 0.4rem;
    max-width: 450px;
    max-height: 535px;
    background-color: #333333;
    overflow-y: auto;
}

.edit-content-wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid #CCFF00;
    align-items: center;
    height: 110px;
}

#edit-content-wrapper {
    margin: 0.5em 1em 0.5em 1em;
    resize: none;
    border-radius: 0.3em;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

aside span {
    font-size: 1.1em;
    color: #d0cfcf;
}

.card img {
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card ul {
    width: 80%;
    list-style: none;
    padding: 0;
    margin: 0.5em 1em 0.5em 1em;
}

.card ul li {
    font-size: 1.1em;
    text-align: left;
    color: #d0cfcf;
}

.fieldset-container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-bottom: 0.5em;
}

.fieldset-container fieldset {
    width: 100%;
    border: 1px solid #CCFF00;
    border-radius: 0.3em;
}

.fieldset-container fieldset legend {
    margin: 0 auto;
    color: #d0cfcf;
    font-size: 1em;
}

.card::-webkit-scrollbar {
    width: 8px;
}

.card::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.card::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.card::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.card::-webkit-scrollbar-thumb:active {
    background: #333;
}

