<div class="card">
    <img src="https://cdn3.focus.bg/autodata/i/bmw/5er/5er-e60/large/e3cc377b35adf71eb67e8a8e977f93eb.jpg"/>
    <div class="edit-content-wrapper">
        <ul>
            <li>Brand: BMW</li>
            <li>Model: 530d</li>
            <li>Year: 2007</li>
            <li>Price: 7000$</li>
        </ul>

        <aside>
            <textarea name="edit-textarea" id="edit-content-wrapper" cols="25" rows="4" disabled></textarea>
        </aside>
    </div>

    <div class="edit-functionalities">
        <div class="likes">
            <label for="likes">Likes: </label>
            <input type="number" id="likes" disabled value="3000">
            <button type="button" class="submit-with-icon">
                <img src="../../../assets/thumbsup.png" alt="Like"></button>
        </div>

        <!-- <div class="comments">
            <label for="comment">User:</label>
            <input type="text" name="comment" id="comment" value="">
            <textarea name="comments" id="comments-txtArea" cols="25" rows="4" disabled></textarea>
        </div> -->

        <a href="#" id="edit-link">Edit</a>
        <a href="#" id="comments-link">Comments</a>
    </div>
</div>