@import url('./details.component.css2.css');
@import url('./details.component.css3.css');

.card {
    border: 1px solid black;
    border-radius: 0.4rem;
    max-width: 450px;
    max-height: 535px;
    background-color: #333333;
    overflow-y: auto;
}

.edit-content-wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid #CCFF00;
    align-items: center;
    height: 110px;
}

.edit-functionalities {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#edit-content-wrapper {
    margin: 0.5em 1em 0.5em 1em;
    resize: none;
    border-radius: 0.3em;
}

