.card {
    border: 1px solid black;
    border-radius: 0.4rem;
    max-width: 210px;
    background-color: #bdb370;
}

.card img {
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.card img:hover {
    filter: brightness(0.8);
}

.card ul {
    list-style: none;
    padding: 0;
    margin: 0.5em 1em 0.5em 0.2em;
}

.card ul li {
    text-align: left;
}

.btn button {
    padding: 0.2em 1em 0.2em 1em;
    margin-bottom: 0.3em;
    border: none;
    border-radius: 0.4em;
}

.btn button:hover {
    cursor: pointer;
    background-color: #534f41;
    color: #FFF;
}