.no-comment-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 0.4em;
    padding: 1em;
    margin-bottom: 0.5em;
}

.add-comment-wrapper {
    padding: 1em;
    border-radius: 0.3em;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

.no-comment-div #addComment {
    border-radius: 0.3em;
    border: none;
    padding: 0.3em;
    transition: background-color 0.5s ease, color 0.3s ease, padding 0.3s ease;
}

.no-comment-div #addComment:hover {
    background-color: #CCFF00;
    cursor: pointer;
}

.no-comment-div textarea {
    resize: none;
    border-radius: 0.3em;
    border: none;
}

.no-comment-div textarea:focus {
    outline: 2px solid #CCFF00;
}