<div class="createCar-form-container">
    <form action="#" class="createCar-form" #carForm="ngForm" (ngSubmit)="onSubmit()">
        <h3>Add your car</h3>
        <div class="fields">
            <div class="img-select">
                <input type="text" id="image-select" placeholder="Image url..." [(ngModel)]="car.image" name="car-image">
            </div>
            <div class="brand">
                <select id="car-brand" name="car-brand" [(ngModel)]="car.brand">
                    <option value="">Select Brand</option>
                    <option value="Audi">Audi</option>
                    <option value="BMW">BMW</option>
                    <option value="Honda">Honda</option>
                    <option value="Mazda">Mazda</option>
                    <option value="Mercedes-Benz">Mercedes-Benz</option>
                    <option value="Opel">Opel</option>
                    <option value="Peugeot">Peugeot</option>
                    <option value="Porsche">Porsche</option>
                    <option value="Subaru">Subaru</option>
                    <option value="Toyota">Toyota</option>
                    <option value="VW">VW</option>
                </select>
            </div>
            
            <div class="model">
                <select id="car-model" name="car-model" [(ngModel)]="car.model">
                    <option value="">Select Model</option>
                    <option value="530">530</option>
                    <option value="E320">E320</option>
                    <option value="A6">A6</option>
                    <option value="Civic">Civic</option>
                </select>
            </div>

            <div class="year">
                <select id="year" name="year" [(ngModel)]="car.year">
                    <option value="">Select Year</option>
                    <option value="1990">1990</option>
                    <option value="1991">1991</option>
                    <option value="1992">1992</option>
                    <option value="1993">1993</option>
                    <option value="1994">1994</option>
                    <option value="1995">1995</option>
                    <option value="1996">1996</option>
                    <option value="1997">1997</option>
                    <option value="1998">1998</option>
                    <option value="1999">1999</option>
                    <option value="2000">2000</option>
                    <option value="2001">2001</option>
                    <option value="2002">2002</option>
                    <option value="2003">2003</option>
                    <option value="2004">2004</option>
                    <option value="2005">2005</option>
                    <option value="2006">2006</option>
                    <option value="2007">2007</option>
                    <option value="2008">2008</option>
                    <option value="2009">2009</option>
                    <option value="2010">2010</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                </select>
            </div>

            <div class="price">
                <input type="number" placeholder="Price" name="price" id="price" [(ngModel)]="car.price">
            </div>
            
            <textarea name="description" id="description" cols="35" rows="4" placeholder="Description..." [(ngModel)]="car.description"></textarea>

            <div class="phone-number">
                <input type="text" name="phone-number" id="phone-number" placeholder="Phone number..." [(ngModel)]="car.phoneNumber">
            </div>

        </div>
            <div class="add-car-btn">
                <input type="submit" value="Add Car">
            </div>
    </form>
</div>