<header class="site-section site-header">
    <div class="site-logo">
        <a routerLink="/">
            <img src="assets/remade-logo-2.png" alt="Logo">
        </a>
        <a routerLink="/"><span>CarSales</span></a>
    </div>
    <nav>
        <ul>
            <li><span>Hello,</span></li>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/catalog">Catalog</a></li>
            <!-- logged in users -->
            <li><a routerLink="/add-car">Add car</a></li>
            <li><a routerLink="/my-cars">My cars</a></li>
            <li><a (click)="logout()" routerLink="/logout">Logout</a></li>
            <!-- logged out users -->
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/register">Register</a></li>
        </ul>
    </nav>
</header>

