<div class="login-form-container">
    <form class="login-form" #form="ngForm" (ngSubmit)="login(form)">
        <h3>Login</h3>
        <div class="fields">
            <input type="text" placeholder="Email..." name="email" ngModel #inputEmail="ngModel" [appEmail]="''" required>
                <ng-container *ngIf="inputEmail.touched">
                    <p class="error" *ngIf="inputEmail.errors?.['required']">Email is required!</p>
                    <p class="error" *ngIf="inputEmail.errors?.['invalidEmail'] && !inputEmail.errors?.['required']">Email is not valid!</p>
                </ng-container>
            <input type="password" placeholder="Password..." name="password" ngModel #inputPassword="ngModel">
            <input type="submit" value="Login">
        </div>
        <div class="message">
            <p>Don't have an account?</p>
            <a routerLink="/register">Sign up</a>
        </div>
    </form>
</div>
