<div class="card">
    <img src={{carDetails?.imageUrl}}/>
    <div class="edit-content-wrapper">
        <ul>
            <li>Brand: {{carDetails?.brand}}</li>
            <li>Model: {{carDetails?.model}}</li>
            <li>Year: {{carDetails?.year}}</li>
            <li>Price: {{carDetails?.price}}$</li>
        </ul>

        <aside>
            <textarea name="edit-textarea" id="edit-content-wrapper" cols="27" rows="4" disabled>{{carDetails?.description}}</textarea>
            <span>Phone number: {{carDetails?.phoneNumber}}</span>
        </aside>
    </div>
    <app-details-functionalities [carDetails]="carDetails"/>
</div>