<div class="register-form-container">
    <form class="register-form" [formGroup]="form" (ngSubmit)="register()">
        <h3>Registration</h3>
        <div class="fields">
            <input type="text" placeholder="Email..." id="email" name="email" autocomplete="email" formControlName="email" appEmail required>
            <ng-container *ngIf="form.get('email')?.touched">
                <p class="error" *ngIf="form.get('email')?.errors?.['required']">Email is required!</p>
                <p class="error" *ngIf="form.get('email')?.value && form.get('email')?.errors?.['invalidEmail']">Email is not valid!</p>

            </ng-container>
            <input type="text" placeholder="Username..." id="username" name="username" autocomplete="username" formControlName="username" required="">
            <ng-container *ngIf="form.get('username')?.touched">
                <p class="error" *ngIf="form.get('username')?.errors?.['required']">Username is required!</p>
                <p class="error" *ngIf="form.get('username')?.errors?.['minlength']">Minimum 4 chars!</p>
            </ng-container>
            <ng-container formGroupName="passGroup">
                <input type="password" placeholder="Password..." id="password" name="password" formControlName="password" required>
                <ng-container *ngIf="form.get('passGroup.password')?.touched">
                    <p class="error" *ngIf="form.get('passGroup.password')?.errors?.['required']">Password is required!</p>
                    <p class="error" *ngIf="form.get('passGroup.password')?.errors?.['minlength']">Minimum 4 chars!</p>
                </ng-container>
                <input type="password" placeholder="Repeat password..." id="rePass" name="rePass" formControlName="rePass" required>
                <ng-container *ngIf="form.get('passGroup')?.get('rePass')?.touched">
                    <p class="error" *ngIf="form.get('passGroup')?.errors?.['matchPassValidator'] || form.get('passGroup')?.get('rePass')?.errors?.['required']">Repeat password field does not match password!</p>
                </ng-container>
            </ng-container>
            <input type="submit" value="Register" [disabled]="form.invalid">
        </div>
        <ng-container *ngIf="errorMessage">
            <p class="error">{{errorMessage}}</p>
        </ng-container>
        <div class="message">
            <p>Already have an account?</p>
            <a routerLink="/login">Sign in</a>
        </div>
    </form>
</div>
