<div class="register-form-container">
    <form action="#" class="register-form">
        <h3>Registration</h3>
        <div class="fields">
            <input type="text" placeholder="Email...">
            <input type="password" placeholder="Password...">
            <input type="password" placeholder="Repeat password...">
            <input type="submit" value="Register">
        </div>
        <div class="message">
            <p>Already have an account?</p>
            <a href="#">Sign in</a>
        </div>
    </form>
</div>
